In [3]:
import pandas as pd

data = pd.read_csv("./case_data.csv")
data["date"] = pd.to_datetime(data["date"], format="%d/%m/%Y")
data.sort_values("date", ascending=True, inplace=True)
data.fillna(0, inplace=True)
data["new"] = data["new"].astype("float")
data["total"] = data["total"].astype("float")
data["one"] = (data["first"] - data["second"]) / 344013
data["two"] = data["second"] / 344013
data = data[list(data.columns)[:5] + list(data.columns)[-2:]]
data.to_csv("./data.csv", index=False)
data

          date  new  total  recovered  dead     first   second       one  \
0   2020-03-11  0.0    0.0        0.0   0.0       0.0      0.0  0.000000
1   2020-03-12  1.0    1.0        0.0   0.0       0.0      0.0  0.000000
2   2020-03-13  0.0    1.0        0.0   0.0       0.0      0.0  0.000000
3   2020-03-14  0.0    1.0        0.0   0.0       0.0      0.0  0.000000
4   2020-03-15  0.0    1.0        0.0   0.0       0.0      0.0  0.000000
..         ...  ...    ...        ...   ...       ...      ...       ...
508 2021-08-01  0.0  124.0      121.0   3.0  163728.0  78173.0  0.248697
509 2021-08-02  0.0  124.0      121.0   3.0  164048.0  79341.0  0.246232
510 2021-08-03  0.0  124.0      121.0   3.0  168170.0  82284.0  0.249659
511 2021-08-04  0.0  124.0      121.0   3.0  169974.0  84043.0  0.249790
512 2021-08-05  0.0  124.0      121.0   3.0  170831.0  85228.0  0.248837

          two
0    0.000000
1    0.000000
2    0.000000
3    0.000000
4    0.000000
..        ...
508  0.227239
509  0.230634
510  0.239189
511  0.244302
512  0.247746

[513 rows x 9 columns]

          date  new  total  recovered  dead       one       two
0   2020-03-11  0.0    0.0        0.0   0.0  0.000000  0.000000
1   2020-03-12  1.0    1.0        0.0   0.0  0.000000  0.000000
2   2020-03-13  0.0    1.0        0.0   0.0  0.000000  0.000000
3   2020-03-14  0.0    1.0        0.0   0.0  0.000000  0.000000
4   2020-03-15  0.0    1.0        0.0   0.0  0.000000  0.000000
..         ...  ...    ...        ...   ...       ...       ...
508 2021-08-01  0.0  124.0      121.0   3.0  0.248697  0.227239
509 2021-08-02  0.0  124.0      121.0   3.0  0.246232  0.230634
510 2021-08-03  0.0  124.0      121.0   3.0  0.249659  0.239189
511 2021-08-04  0.0  124.0      121.0   3.0  0.249790  0.244302
512 2021-08-05  0.0  124.0      121.0   3.0  0.248837  0.247746

[513 rows x 7 columns]