In [4]:
import pandas as pd, numpy as np, seaborn as sns
import matplotlib.pyplot as plt, matplotlib.dates as mdates, matplotlib.ticker as ticker
sns.set(font_scale=1.5)

data = pd.read_csv("./caseData.csv", parse_dates=["date"], index_col="date")

pcr_data = data.loc[[x for x in data.index if (x > pd.Timestamp("2022-02-20")) & (x < pd.Timestamp("2022-02-28"))]]
pos = pcr_data.pcr.sum() / (13130 + pcr_data.pcr.sum())
data.loc[[x for x in data.index if (x > pd.Timestamp("2022-02-21")) & (x < pd.Timestamp("2022-03-01"))], "positivity_trend"] = [pos] * 7

pcr_data = data.loc[[x for x in data.index if (x > pd.Timestamp("2022-02-27")) & (x < pd.Timestamp("2022-03-07"))]]
pos = pcr_data.pcr.sum() / (17675 + pcr_data.pcr.sum())
data.loc[[x for x in data.index if (x > pd.Timestamp("2022-02-28")) & (x < pd.Timestamp("2022-03-08"))], "positivity_trend"] = [pos] * 7

pcr_data = data.loc[[x for x in data.index if (x > pd.Timestamp("2022-03-06")) & (x < pd.Timestamp("2022-03-14"))]]
pos = pcr_data.pcr.sum() / (13970 + pcr_data.pcr.sum())
data.loc[[x for x in data.index if (x > pd.Timestamp("2022-03-07")) & (x < pd.Timestamp("2022-03-15"))], "positivity_trend"] = [pos] * 7

pcr_data = data.loc[[x for x in data.index if (x > pd.Timestamp("2022-03-13")) & (x < pd.Timestamp("2022-03-21"))]]
pos = pcr_data.pcr.sum() / (12431 + pcr_data.pcr.sum())
data.loc[[x for x in data.index if (x > pd.Timestamp("2022-03-14")) & (x < pd.Timestamp("2022-03-22"))], "positivity_trend"] = [pos] * 7

pcr_data = data.loc[[x for x in data.index if (x > pd.Timestamp("2022-03-20")) & (x < pd.Timestamp("2022-03-28"))]]
pos = pcr_data.pcr.sum() / (27052 + pcr_data.pcr.sum())
data.loc[[x for x in data.index if (x > pd.Timestamp("2022-03-21")) & (x < pd.Timestamp("2022-03-29"))], "positivity_trend"] = [pos] * 7

pcr_data = data.loc[[x for x in data.index if (x > pd.Timestamp("2022-03-27")) & (x < pd.Timestamp("2022-04-04"))]]
pos = pcr_data.pcr.sum() / (20014 + pcr_data.pcr.sum())
data.loc[[x for x in data.index if (x > pd.Timestamp("2022-03-28")) & (x < pd.Timestamp("2022-04-05"))], "positivity_trend"] = [pos] * 7

pcr_data = data.loc[[x for x in data.index if (x > pd.Timestamp("2022-04-03")) & (x < pd.Timestamp("2022-04-11"))]]
pos = pcr_data.pcr.sum() / (15637 + pcr_data.pcr.sum())
data.loc[[x for x in data.index if (x > pd.Timestamp("2022-04-04")) & (x < pd.Timestamp("2022-04-12"))], "positivity_trend"] = [pos] * 7

pcr_data = data.loc[[x for x in data.index if (x > pd.Timestamp("2022-04-10")) & (x < pd.Timestamp("2022-04-18"))]]
pos = pcr_data.pcr.sum() / (13090 + pcr_data.pcr.sum())
data.loc[[x for x in data.index if (x > pd.Timestamp("2022-04-11")) & (x < pd.Timestamp("2022-04-19"))], "positivity_trend"] = [pos] * 7

pcr_data = data.loc[[x for x in data.index if (x > pd.Timestamp("2022-04-17")) & (x < pd.Timestamp("2022-04-25"))]]
pos = pcr_data.pcr.sum() / (11432 + pcr_data.pcr.sum())
data.loc[[x for x in data.index if (x > pd.Timestamp("2022-04-18")) & (x < pd.Timestamp("2022-04-26"))], "positivity_trend"] = [pos] * 7

data.to_csv("./caseData.csv")

In [10]:
data[data.new < 623]

,new,total,recovered,average,active,hospitalised,intensive care,ventilated,dead,pcr,rat,tests,positivity,positivity_trend
date,,,,,,,,,,,,,,
2021-08-11,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
2021-08-12,4.0,4.0,0.0,0.571429,4.0,0.0,0.0,0.0,0.0,4.0,0.0,NaN,NaN,NaN
2021-08-13,2.0,6.0,0.0,0.857143,6.0,0.0,0.0,0.0,0.0,2.0,0.0,1329.0,0.001503,0.001503
2021-08-14,1.0,7.0,0.0,1.000000,7.0,0.0,0.0,0.0,0.0,1.0,0.0,1982.0,0.000504,0.001003
2021-08-15,2.0,9.0,0.0,1.285714,9.0,0.0,0.0,0.0,0.0,2.0,0.0,3292.0,0.000607,0.000871
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-02-28,464.0,48133.0,44122.0,628.571429,3980.0,44.0,0.0,0.0,1.0,234.0,230.0,NaN,NaN,0.133448
2022-03-06,562.0,52620.0,48362.0,707.285714,4227.0,36.0,2.0,1.0,0.0,285.0,277.0,NaN,NaN,0.129696
2022-03-07,553.0,53173.0,49144.0,720.000000,3998.0,39.0,2.0,1.0,0.0,285.0,268.0,NaN,NaN,0.129696
2022-03-14,599.0,58233.0,54319.0,722.857143,3880.0,38.0,3.0,0.0,0.0,313.0,286.0,NaN,NaN,0.163573
2022-05-23,622.0,126520.0,121053.0,918.000000,5409.0,91.0,4.0,2.0,0.0,314.0,308.0,NaN,NaN,NaN

In [ ]:
da