In [3]:
import pandas as pd

data = pd.read_csv("caseData.csv")
data[data.dead > 2]

,date,new,total,recovered,average,active,hospitalised,intensive care,ventilated,dead,pcr,rat,tests,positivity,positivity_trend
212,2022-03-11,791.0,56281.0,52348.0,702.714286,3899.0,31.0,1.0,1.0,3.0,456.0,335.0,NaN,NaN,0.163573
310,2022-06-17,962.0,145711.0,140766.0,786.285714,4874.0,87.0,2.0,1.0,6.0,520.0,442.0,NaN,NaN,0.236340
314,2022-06-21,869.0,149091.0,143491.0,905.714286,5525.0,87.0,1.0,0.0,3.0,430.0,439.0,NaN,NaN,NaN
346,2022-07-23,1044.0,186182.0,179786.0,1052.428571,6310.0,145.0,2.0,0.0,3.0,657.0,387.0,NaN,NaN,NaN